<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <script src="js/angular.min.js"></script>
    <script src="js/main.js"></script>
</head>
<body>
<div>
    Welcome to {{authorName}}'s den.
    <br/>

    <input type="text" ng-model="yourName" placeholder="Enter a name here">
    <h1>Hello, {{ yourName }}!</h1>
</div>

<div ng-controller="ParentController">
    {{name}}
    <button ng-click="showName()">Click Me!</button>
    <button ng-click="changeName()">Change Name</button>
    <div ng-controller="ChildController">
        {{name}}
        <button ng-click="showName()">Click Me!</button>
        <button ng-click="changeName()">Change Name</button>
    </div>
</div>

<div ng-controller="MyController">
    Message appears here:
    <br/>
    {{userId}}
</div>

</body>
<script>
</script>
</html>